/* Reset styles */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

/* General styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Topic Information */

.topic-information {
  display: grid;
  gap: 5px;
  align-content: baseline;
  margin-top: 50px;
}

.topic-information > h2 {
  font-size: 1.25em;
}

.topic-information > p,
ul > li {
  font-size: 1.25em;
}
.topic-information > ul {
  padding: 0;
}

/* Sentiment styles */
.positive {
  color: green;
}

.neutral {
  color: grey;
}

.negative {
  color: red;
}
